# Auto detect text files and perform LF normalization
* text=auto

# Repository content
*.md text diff=markdown
*.mdx text diff=markdown
*.json text
*.yaml text
*.yml text
*.sh text eol=lf
*.bash text eol=lf
*.svg text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore
