---
name: "⭕ Trunk"
on:
  pull_request:
  push:
    paths: [.trunk/trunk.yaml]
  schedule:
    - cron: "0 8 * * 1-5"
  workflow_dispatch: {}

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  check:
    if: github.event.pull_request
    runs-on: ubuntu-latest
    permissions:
      checks: write # For trunk to post annotations
      contents: read # For repo checkout
    steps:
      - name: ✅ Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: ✨ Trunk Check
        uses: trunk-io/trunk-action@6eac1bb24506bc4fc043f7df134454bbd702bb9d
  upgrade:
    if: github.event.schedule == '0 8 * * 1-5'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: ✅ Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: ✨ Trunk Upgrade
        uses: trunk-io/trunk-action/upgrade@f6c5f1b90503c30e02059667dbc247f2257b63c5 # v1.1.15
